---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro'; //NOTE ルートから参照できる？
import BlogPost from '../../components/BlogPost.astro';
const allPosts = await getCollection('posts');
const pageTitle = '私のAstro学習ブログ';
---

<Layout title={pageTitle}>
  <main>
    <h1>BLOG</h1>
    <ul>
      {
        allPosts.map((post: { slug: any; data: { title: string; image: any } }) => (
          <li>
            <BlogPost url={`/posts/${post.slug}/`} data={post.data} />
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
